
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

div.primaryStatContainer {
  label.statLabel {
    font-size: 30px;
    width: 60px;
    text-align: right;
    display: inline-block;
  }
  label.finalValue {
    margin-left: 10px;
    font-size: 30px;
    width: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  label.modifier {
    font-size: 30px;
    width: 40px;
    text-align: right;
    display: inline-block;
  }


  input {
    margin-left: 10px;
    font-size: 30px;
    padding: 8px;
    width: 40px;
  }
}

div.additiveStatContainer {
  div.statBox {
    margin-left: 10px;
    font-size: 30px;
    width: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    display: inline-block;
  }
}
